<div class="user-form">  

  <%= form_for(@user) do |f| %>
    <%= f.text_field :first_name, placeholder: "First Name" %>

    <%= f.text_field :last_name, placeholder: "Last Name" %>
    
    <%= f.text_field :phone_number, placeholder: "###-###-####" %>

    <%= f.text_field :email, placeholder: "Email@youremail.com" %>
  
    <%= f.password_field :password, placeholder: "password" %>

    <h4>Select a Role</h4>

    <%= f.fields_for @user.roles.build  do |role| %>
      <%= role.collection_select :id, @roles, :name, :name, prompt: "Select a Role" %>
    <% end %>

    <%= f.fields_for @user.organizations.build do |org| %>
      <%= org.label "Organizers Only:" %>
      <%= org.text_field :name, placeholder: "Please enter your organization name" %>
    <% end %>

    <%= f.submit "Create Account", class: "button radius tiny" %>

  <% end %>

</div>

