<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Category Details</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% if @event.incomes %>
      <% @event.incomes.each do |income| %>
        <tr>
          <td><%= number_to_currency(income.estimated_amount, precision: 2) %></td>
          <td><%= income.category_details %></td>
          <td><%= status_clarify(income.status) %></td>
          <td><%= link_to 'Delete', sekret_income_path(income, return_to: request.fullpath), method: :delete, data: { confirm: 'Are you sure you want to delete this income?' } %></td>
      <% end %>
    <% else %>
      <div> No Income </div>
    <% end %>
  </tbody>
</table>

<%= link_to "Add Income", new_transactions_log_income_path(event_id: @event.id) %>

