<h1> Event: <%= @event.name %></h1>

<h2>Managing Organizations</h2>
<%= render 'events_organizations' %>
</br>

<h2>Event Incomes</h2>
<div>
  <p class="total"> 
    Total Estimated Income = 
    <%= number_to_currency(estimated_total(@event.incomes), precision: 2)  %>
  </p>
  <p class="total"> 
    Total Actual Income = 
    <%= number_to_currency(verified_total(@event.incomes), precision: 2)  %>
  </p>
</div>

<%= render 'events_incomes' %>
</br>

<h2>Event Expenses</h2>
<div>
  <p class="total"> 
    Total Estimated Expense = 
    <%= number_to_currency(estimated_total(@event.expenses), precision: 2)  %>
  </p>
  <p class="total"> 
    Total Actual Expense = 
    <%= number_to_currency(verified_total(@event.expenses), precision: 2)  %>
  </p>
</div>
<%= render 'events_expenses' %>



