<% if current_user.incomes.empty? %>
  No Incomes!
<% else %>
  <table>
    <thead>
      <tr>
        <th>Organization</th>
        <th>Amount</th>
        <th>Category Details</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.incomes.each do |income| %>
        <tr>
          <td><%= income.event.organizations.first.name.titleize %></td>
          <td><%= number_to_currency(income.estimated_amount, precision: 2) %></td>
          <td><%= income.category_details %></td>
          <td><%= status_clarify(income.status) %></td>
          <td><%= link_to 'Delete', sekret_income_path(income, return_to: request.fullpath), method: :delete, data: { confirm: 'Are you sure you want to delete this income?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

