
<h3><%=  @event.name %> Incomes:</h3>
<%= render template: "/finance_approvers/finance_approver" %>

</br></br>

<% if @incomes.empty? %>
  No Incomes!
<% else %>
  <% @incomes.each do |income| %>
    <%= number_to_currency(income.estimated_amount, precision: 2) %>
    </br>
    <%= income.category_details %>
    </br>
  <% end %>
<% end %>

</br>
<%= link_to "Add Income", new_event_income_path(@event) %>