<p id="notice"><%= notice %></p>

        <strong><%= @organization.name %></strong>
        <p><%= @organization.website %></p>


<%= link_to 'Edit', edit_organization_path(@organization) %> 
<%= link_to 'Back to Organizations', user_organizations_path(current_user) %>

